@model OrderViewFormModel 

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center mb-4">@ViewBag.Title</h2>

        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" placeholder="Тениска Nike , Блуза Puma etc...">
                <span asp-validation-for="FirstName" class="small text-danger"></span>
            </div>  
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" placeholder="Nike, Adidas, Puma, Gucci etc....">
                <span asp-validation-for="LastName" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="Червен,зелен,жълт...">
                <span asp-validation-for="PhoneNumber" class="small text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="ShippingAddress" class="control-label"></label>
                <input asp-for="ShippingAddress" class="form-control" placeholder="валута:ЛВ" multiple />
                <span asp-validation-for="ShippingAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note"></label>
                <textarea asp-for="Note" rows="4" class="form-control" placeholder="Тениската е като нова , изсветляла е ,etc...."></textarea>
                <span asp-validation-for="Note" class="small text-danger"></span>
            </div>

            <input class="btn btn-primary mt-4" type="submit" value="Запази" />
        </form>
    </div>
</div>