@using Microsoft.AspNetCore.Identity
@using SecondHandClothes.Data.Models
@using SecondHandClothes.Services.Sellers
@using SecondHandClothes.Areas.Admin

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject ISellerService Sellers

<head>
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>

<ul class="navbar-nav">


    @if (SignInManager.IsSignedIn(User))
    {

        var userId = User.Id();
        var userIsSeller = Sellers.IsSeller(userId);
        var userIsAdmin = User.IsAdmin();

        if (!userIsAdmin)
        {
            <li class="nav-item">
                <a class="nav-link text-dark font-weight-bold" asp-controller="Cart" asp-action="MyCart" asp-route-userId="@userId">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </a>
            </li>
        }

        @if (userIsSeller && !userIsAdmin)
        {
            <li class="nav-item">
                <a class="nav-link text-dark font-weight-bold" asp-area="" asp-controller="Products" asp-action="MyProducts">Моите продукти</a>
            </li>

            <li class="nav-item">
                <div class="dropdown">
                    <a class="dropdown-toggle nav-link text-dark font-weight-bold"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Поръчки
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <a class="dropdown-item nav-link text-dark font-weight-bold" asp-area="" asp-controller="Orders" asp-action="MyIncomingOrders">Входящи</a>
                        <a class="dropdown-item nav-link text-dark font-weight-bold" asp-area="" asp-controller="Orders" asp-action="MyOutgoingOrders">Изходящи</a>
                    </div>
                </div>
            </li>
        }


        else if (!userIsAdmin)
        {
            <li class="nav-item">
                <a class="nav-link text-dark font-weight-bold" asp-area="" asp-controller="Sellers" asp-action="Become">Започни да продаваш</a>
            </li>
        }

        <li class="nav-item">
            <a class="nav-link text-dark font-weight-bold" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Профил</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark font-weight-bold">Изход</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark font-weight-bold" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark font-weight-bold" asp-area="Identity" asp-page="/Account/Login">Вход</a>
        </li>
    }
</ul>
