@{
    ViewData["Title"] = "Home Page";
}

@if (!this.User.Identity.IsAuthenticated)
{
    <div class="jumbotron">
        <h1 class="display-4">Добре дошли в най добрия онлайн магазин за втора уптореба дрехи!</h1>
        <p class="lead">Направете своята регистрация и започнете да купувате и продавате дрехи сега!</p>
        <hr class="my-4">
        <p class="lead">
            <a class="nav-link text-dark font-weight-bold btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
        </p>
    </div>
}